ICON ICO_1      F:\WDSIBYL\PROJECTS\TCPCFG\ICONS\Animated\1.ico
ICON ICO_2      F:\WDSIBYL\PROJECTS\TCPCFG\ICONS\Animated\2.ico
ICON ICO_3      F:\WDSIBYL\PROJECTS\TCPCFG\ICONS\Animated\3.ico
ICON ICO_4      F:\WDSIBYL\PROJECTS\TCPCFG\ICONS\Animated\4.ico
Bitmap BMP1     F:\WDSIBYL\PROJECTS\TCPCFG\ICONS\Animated\1.bmp