BITMAP IF_OK     F:\WDSibyl\Projects\TCPCfg\ICONS\OK.bmp
BITMAP IF_ERROR   F:\WDSibyl\Projects\TCPCfg\ICONS\WinError.bmp
BITMAP IF_NEW     F:\WDSibyl\Projects\TCPCfg\ICONS\Rufzeichen.bmp
ICON TelnetD      F:\WDSibyl\Projects\TCPCfg\ICONS\TELNETD.ico
ICON FTPD         F:\WDSibyl\Projects\TCPCfg\ICONS\ftpd2.ico
ICON TFTPD        F:\WDSibyl\Projects\TCPCfg\ICONS\TFTPD.ICO
ICON REXECD       F:\WDSibyl\Projects\TCPCfg\ICONS\REXECD.ico
ICON LPD          F:\WDSibyl\Projects\TCPCfg\ICONS\LPD.ICO
ICON RSHD         F:\WDSibyl\Projects\TCPCfg\ICONS\RSHD.ico
ICON lprportD     F:\WDSibyl\Projects\TCPCfg\ICONS\LPRPORTD.ICO
ICON ROUTED       F:\WDSibyl\Projects\TCPCfg\ICONS\routed.ico
ICON talkD        F:\WDSibyl\Projects\TCPCfg\ICONS\TALKD.ICO
ICON PortMap      F:\WDSibyl\Projects\TCPCfg\ICONS\PORTMAP.ICO
ICON SendMail     F:\WDSibyl\Projects\TCPCfg\ICONS\SENDMAIL.ICO
ICON RSVPD        F:\WDSibyl\Projects\TCPCfg\ICONS\RSVPD.ICO
ICON SYSLOGD      F:\WDSibyl\Projects\TCPCfg\ICONS\SyslogD4040.ico
ICON TimeD        F:\WDSibyl\Projects\TCPCfg\ICONS\Timed4040.ico
ICON NFSD         F:\WDSibyl\Projects\TCPCfg\ICONS\NFSD.ICO
ICON PCNFSD       F:\WDSibyl\Projects\TCPCfg\ICONS\pcnfsd.ico
ICON ICO_Printer     F:\WDSibyl\Projects\TCPCfg\ICONS\Printer.ICO
ICON ICO_SERVER       F:\WDSibyl\Projects\TCPCfg\ICONS\NETWORK1.ico
ICON ICO_WARNING      F:\WDSibyl\Projects\TCPCfg\ICONS\Rufzeichen.ico
ICON Directory  F:\WDSibyl\Projects\icons\Folder2.ICO
ICON IPWorld      F:\WDSibyl\Projects\icons\rasdlg.ico
ICON HomeIP       F:\WDSibyl\Projects\icons\Home2.ico
ICON Subnet        F:\WDSibyl\Projects\icons\NETWORK1.ico
ICON DHCP          F:\WDSibyl\Projects\icons\DHCP2.ICO
ICON SYSTEM        F:\WDSibyl\Projects\icons\SYSTEM.ICO
Icon Default      F:\WDSibyl\Projects\icons\0614.ico
Icon Phone        F:\WDSibyl\Projects\icons\phone2.ico
ICON Computer     F:\WDSibyl\Projects\icons\Comp16.ico