ICON IP_WIZ1_ICO  F:\WDSibyl\Projects\TCPCfg\ICONS\IP2.ico
ICON IPWorld      F:\WDSibyl\Projects\icons\rasdlg.ico
ICON Info         F:\WDSibyl\Projects\icons\Home2.ico
ICON Subnet        F:\WDSibyl\Projects\icons\NETWORK1.ico
ICON SYSTEM        F:\WDSibyl\Projects\icons\SYSTEM.ICO
ICON Hostname      F:\WDSibyl\Projects\icons\Hostname.ICO